# CDKTF files and directories.
__tests__/**/*.js
packages/**/*.js
**/*.d.ts
**/node_modules
**/cdktf.out
**/cdktf.log
**/*terraform.*.tfstate*
**/.gen
**/.terraform
**/tsconfig.tsbuildinfo
**/!jest.config.js
**/!setup.js

# Generated credentials from google-github-actions/auth.
**/gha-creds-*.json
